/* =====================
   透明卡片
   ===================== */

/* 首页文章卡片 */
#recent-posts > .recent-post-item {
    background: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}


/* 侧边栏卡片 */
#aside-content .card-widget {
    background: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}


/* 文章页面 */
#post {
    background: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}


/* 页面类（归档、分类、标签） */
#page {
    background: rgba(255,255,255,0.65);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}